@{
    ViewBag.Title = "Home";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="font-family:Blackletter">Welcome To Boris Page</h1>
        <p class="lead" style="font-style:italic">Feel free to stroll around and take a look</p>
    </div>
</div>



<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My projects</h2>
                <h3><i>Click on a picture for more information</i></h3>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="@Url.Action("RaspberryPiGeneral", "Portfolio")">
                    <img class="img-responsive img-home-portfolio" title="Raspberry Pi Project" src=@Url.Content("~/Images/Portfolio/rpi.jpg")>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="@Url.Action("IOSGeneral", "Portfolio")">
                    <img class="img-responsive img-home-portfolio" title="iOS ToDo-list App" src=@Url.Content("~/Images/Portfolio/ToDoiOS.png")>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="@Url.Action("ArduinoGeneral", "Portfolio")">
                    <img class="img-responsive img-home-portfolio" title="Arduino Set Projects" src=@Url.Content("~/Images/Portfolio/arduino.jpg")>
                </a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->
<!--Future plans section-->
<div class="section-colored">
    <div class="container">
        <h1>Future plans</h1>
        <p>Currently the bare bone structure has been implemented for my site. Below is a list of upcoming implementations to my website:</p>
        <ul>
            <li>Simple Chart.js experiments</li>
            <li>PrimeNG implementations</li>
            <li>Login function - mainly for me, but Guest implementation for test purposes</li>
            <li>Not-a-robot-authentication for the contact page</li>
            <li>Skånetrafiken API - search function for general page => XML Reader needed</li>
            <li>Skånetrafiken API - favorites implementation for Admin login and Guest demonstration pages</li>
            <li>Strength training controls for Admin and Guest demonstration pages</li>
        </ul>
    </div>
</div>
