@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="active">About</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 >General information</h2>
        <p>This site was created in August of 2018. My intention was not only to create a site which I would use as a platform to demonstrate my junior web development skills. The site also acts as a library for guides, hobby projects, data management etc. More information about how this page was made, can be found in the navigation bar under <i>Portfolio</i> and <i>Web Development</i>.</p>
    </div>
</div>
    </div>


