@{
    ViewBag.Title = "Login";
}

<div class="container login-container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Welcome!</h4>
                <p>Please enter your login details or register a user</p>
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="e-mail" />
                </br>
                <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                </br>
                <div class="wrapper">
                    <span class="group-btn">
                        <a href="#" class="btn btn-primary btn-success">Login <i class="fa fa-sign-in"></i></a>
                    </span>
                    <span class="group-btn">
                        <a href="#" class="btn btn-primary btn-dark">Register<i class="fa fa-sign-in"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

